// Footer
hr
.container.footer
		span Created by 
			a(href="mailto:vinicio@arteest.me") Vinicio Dy

script(type='text/javascript' src='/javascripts/jquery.min.js')
script(type='text/javascript' src='/javascripts/bootstrap.min.js')
script(type='text/javascript' src='/javascripts/draw.js')
script(type='text/javascript' src='/javascripts/tools.js')
script(type='text/javascript' src='/javascripts/actions.js')
script(type='text/javascript' src='/javascripts/setup.js')
