extends layout

block content
	// Gallery
	.container
		.page-header
			h1 Gallery&nbsp;
				small of Arteests
		#alerts(data-init-error=error)
			.error.alert.alert-danger
				strong.message
			.success.alert.alert-success
				strong.message
		each canvases, name in canvasesByName
			.panel.panel-default
				.panel-heading
					h3.panel-title By #{name}
				.list-group
					each canvas in canvases
						a.list-group-item(href="/draw/#{canvas._id}") #{canvas._id}