@import (reference) "base.less";

html, body {
	font-family:@global-font;
}

h1 {
	font-family:@header-font;

	small {
		font-family:@global-font;
	}
}

.logo {
	font-family:@header-font;
	font-size:24px;

	&.logo-big {
		font-size:100px;
	}

	&.logo-center {
		text-align:center;
	}
}

.footer {
	text-align:center;
	font-size:75%;
	margin-bottom:20px;
}

#canvases {
	margin:0;
	white-space:nowrap;
	overflow-x:scroll;
	overflow-y:hidden;

	.canvas {
		vertical-align:top;
		padding:0;

		canvas {
			display:block;
			background-color:#fff;
			border:1px solid #ddd;

			&.draw {
				cursor:crosshair;
			}

			&.wait {
				cursor:wait;
			}

			&.read-only {
				cursor:not-allowed;
			}

			&.link {
				cursor:pointer;
			}
		}
	}
}

#tools {
	margin-top:20px;
	margin-bottom:20px;

	.disabled {
		display:none;
	}
}

#colors {
	.btn-black {
		background-image: -webkit-linear-gradient(top,#999 0,#333 100%);
    background-image: linear-gradient(to bottom,#999 0,#333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#333', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #666;		

    :before {
    	color:#fff;
    }
	}
	.btn-black:hover,.btn-black:focus {
	    background-color: #333;
	    background-position: 0 -15px
	}
	.btn-black:active,.btn-black.active {
	    background-color: #333;
	    border-color: #666;
	}
}

#actions {
	margin-top:20px;
	margin-bottom:20px;

	.glyphicon-user {
		top:0px;
	}
}

#alerts .error,
#alerts .success {
	display:none;
}

