#canvases {
	.canvas {
		vertical-align:top;
		padding:0;

		canvas {
			background-color:#fff;
			border:1px solid #ddd;	

			&.template {
				display:none;
			}

			&.draw {
				cursor:crosshair;
			}

			&.wait {
				cursor:wait;
			}

			&.read-only {
				cursor:not-allowed;
			}
		}
	}
}

#tools {
	margin-top:20px;
	margin-bottom:20px;
}

#actions {
	margin-top:20px;
	margin-bottom:20px;
}

#alerts .error,
#alerts .success {
	display:none;
}

